name: CI Pipeline

# Trigger the workflow on push or pull request to the main branch
on:
    push:
        branches:
          - main
        pull_request:
            branches:
              - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            - name: Install Nix
              uses: cachix/install-nix-action@v17
              with:
                  extra_nix_config: |
                    access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

            -   name: Run checkmake on Makefile
                run: |
                    nix develop --command checkmake Makefile

            -   name: Run tests with nix develop shell
                run: |
                    nix develop --command make test
